ul, li {
  padding: 0;
  margin: 0;
}

.news_list {
  list-style-type: none;
}

.news_item {
  border: 1px solid #c3acac;
  border-radius: 10px;
  padding: 10px;
}

.news_item:not(:last-child) {
  margin-bottom: 10px;
}

.news_delete-btn {
  border: 1px solid #c3acac;
  background-color: #ececec;
	border-radius: 5px;
  padding: 3px 6px;
}